@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  @apply cursor-default;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3ed5dd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a767b;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 24px;
  color: white;
}

.quill > .ql-container > .ql-editor {
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .quill > .ql-container > .ql-editor.ql-blank::before {
    font-size: 14px;
  }
  .quill > .ql-container > .ql-editor {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* cursor: url("/public/icons/icons8-select-cursor-48.png"); */
}

@layer utilities {
  @keyframes customPulse {
    50% {
      opacity: 0.13;
    }
  }
  .customPulse {
    animation: customPulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .text-balance {
    text-wrap: balance;
  }
  .customShadow {
    box-shadow: 0 0 160px 160px rgb(62 213 221);
  }
  .customShadowDark {
    box-shadow: 0 0 400px 400px rgb(62 213 221);
  }
  .customDropShadow {
    filter: drop-shadow(25px 30px 102px rgba(255, 255, 255, 0.15));
  }

  .sectionPadding {
    @apply 2xl:px-32  xl:px-24  lg:px-16 px-10;
  }
}
